img{
  margin-top: 15px;
  margin-left: 200px;
  border: 10px;
  border-style: dotted;
  border-color: yellow;
  margin-bottom: 15px;
}

body {
  background-color: black;
  background: url("../images/background.jpeg");
  background-repeat: repeat;
  background-image: radial-gradient();
  max-width: 1200px;
  max-height: 700px;
}

header {
  background-color: black;
  width: 1100px;
  height: 70px;
  color: white;
  font-size: 50px;
  text-align: center;
  border-top: 10px;
  padding-top: 30px;
  border: 15px;
  border-style: dotted;
  border-color: orange;
  margin-top: 20px;
  margin-left: 5%;
}

h2{
  color: white;
  font-size: 30px;
  background-color: black;
  margin-top: 10px;
  text-align: center;
}
h3{
  color: yellow;
  font-size: 40px;
  /* background-color: black; */
  margin-top: 10px;
  text-align: center;
}

.border {
  border: 15px;
  border-style: dotted;
  border-color: orange;
  margin-top: 20px;
}
.borderTwo {
  border: 15px;
  border-style: dotted;
  border-color: yellow;
  margin-top: 20px;
}
.borderThree {
  border: 15px;
  border-style: dotted;
  border-color: white;
  margin-top: 20px;
}

/* ----------------------------------------------------- */

.mainContainer {
  margin-left: auto;
  margin-right: auto;
  background: url("../images/background.jpg");
  width: 960px;
  height: 580px;
  background-color: black;
}

.subContainerClass1 {
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: transparent;
  height: 60px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.subContainerClass2 {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: transparent;
  min-height: 140px;
}

.subContainerClass3 {
  width: 840px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: transparent;
  min-height: 100px;
  text-align: center;
}

/* ----------------------------------------------------- */

.button {
  font-size: 30px;
  color: white;
  position: relative;
  margin-top: 4%;
  margin-left: 40%;
  margin-top:20%;
  width: 200px;
  height: 80px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: darkorange;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #7a7b7e;
}

.button:hover {
  background-color: orange;
  box-shadow: 0 4.5px #b0afb4;
}

.button:active {
  color: orange;
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

.buttonAnswer {
  font-size: 30px;
  color: white;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 80px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: darkorange;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #7a7b7e;
}

.buttonAnswer:hover {
  background-color: orange;
  box-shadow: 0 4.5px #b0afb4;
}

.buttonAnswer:active {
  color: orange;
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

.buttonResults {
  font-size: 30px;
  color: white;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 80px;
  text-align: center;
  outline: none;
  background-color: blue;
  border: 5px;
  border-radius: 15px;
}
